[Unit]
Description=lisgd gestures
After=default.target

[Service]
Type=simple
ExecStart=/home/alarm/.config/lisgd/lisgd
Restart=always

[Install]
WantedBy=multi-user.target
